.bg-light-white {
  background-color: #f3f3f3;
}

.social-icon {
  color: #3b568d;
  text-decoration: none !important;
}

.text-blue {
  color: #14599f;
}

.btn-primary {
  color: white !important;
  background-color: #14599f !important;
}

.btn-primary:hover {
  background-color: #3b568d !important;
}

#svgLogo {
  width: 60%;
  height: auto;
}

#canvas, #image {
  width: 0;
  height: auto;
}

.text-sm {
  font-size: small;
}

.preview-text {
  color: #6c757d;
  transition: 0.5s;
}

svg {
  transition: 0.5s;
}
